<mat-card class="register-card">
    <mat-card-title>Sign Up</mat-card-title>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput id="name" formControlName="name" required>
            @if (form['name'] && form['name'].errors && form['name'].touched && form['name'].errors["required"]) {
            <mat-error>name is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput id="email" formControlName="email" required>
            @if (form['email'] && form['email'].errors && form['email'].touched && form['email'].errors["required"]) {
            <mat-error>email is required</mat-error>
            }
            @if (form['email'] && form['email'].errors && form['email'].touched && form['email'].errors["email"]) {
            <mat-error>email is not valid</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput id="password" formControlName="password" required>

            @if (form['password'] && form['password'].errors && form['password'].touched &&
            form['password'].errors["required"]) {
            <mat-error>password is required</mat-error>
            }
            @if (form['password'] && form['password'].errors && form['password'].touched &&
            form['password'].errors["minlength"]) {
            <mat-error>password must be at least 4 characters</mat-error>
            }
            @if (form['password'] && form['password'].errors && form['password'].touched &&
            form['password'].errors["maxlength"]) {
            <mat-error>password must be at most 8 characters</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" required panelClass="custom-select-panel" disableRipple>
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="teacher">Teacher</mat-option>
                <mat-option value="student">Student</mat-option>
            </mat-select>
            @if (form['role'] && form['role'].errors && form['role'].touched && form['role'].errors["required"]) {
            <mat-error>role is required</mat-error>
            }
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="signUpForm.invalid">Submit</button>
    </form>
</mat-card>