
@use '@angular/material' as mat;

// כלול את הסגנונות הבסיסיים של Angular Material
@include mat.core();

// הגדרת פלטות צבעים בגווני הירוק
$CourseOnline-primary: mat.define-palette(mat.$green-palette);
$CourseOnline-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
$CourseOnline-warn: mat.define-palette(mat.$red-palette); // צבע אזהרה, ניתן להשאיר אדום

// יצירת אובייקט נושא
$CourseOnline-theme: mat.define-light-theme((
  color: (
    primary: $CourseOnline-primary,
    accent: $CourseOnline-accent,
    warn: $CourseOnline-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// כלול סגנונות עבור רכיבי Angular Material
@include mat.all-component-themes($CourseOnline-theme);
